body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: #D8DBE2;
}

.panel {
  font-family: monaco, Consolas, "Lucida Console", monospace;
  color: #363636;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.ugly-border {
  border: 2rem solid #E59F71;
}

.inner {
  margin: 3rem 10%;
  width: 50%;
  height: 50%;
}

.textbox {
  margin: 1em;
}

.fake-button {
  background: #BAFF29;
  text-transform: uppercase;
  font-size: 1.5em;
  font-weight: bold;
  text-align: center;
  padding: 1.5rem;
  margin: 0 8rem 4rem 8rem;
  cursor: url('./bag-cursor.gif'), auto;
  color: #6F7C12;
  z-index: 100;
}

.heading {
  font-size: 1.5em;
  margin: 2rem;
  color: #6F7C12;
  text-transform: uppercase;
}

.text-box {
  margin: 30em;
}

canvas {
  background-image: url('/world-map.png');
  background-size: 100% 100%;
}

.text-container {
  padding: 2em 4em 3em 4em;
  text-align: center;
}

.trash-container {
  width: 20em;
  height: 20em;
  position: absolute;
  z-index: -1;
  background: url('./bottle.gif') no-repeat;
  animation: fall 4s infinite linear;
  left: 0;
}

.trash-container-1 {
  z-index: -1;
  width: 20em;
  height: 20em;
  position: absolute;
  background: url('./bottle.gif') no-repeat;
  animation: fall 5s infinite linear;
  left: 25%;
}

.trash-container-2 {
  width: 20em;
  height: 20em;
  position: absolute;
  z-index: -1;
  background: url('./bottle.gif') no-repeat;
  animation: fall 3s infinite linear;
  left: 70%;
}

.trash-container-3 {
  width: 20em;
  height: 20em;
  position: absolute;
  z-index: -1;
  background: url('./bottle.gif') no-repeat;
  animation: fall 6s infinite linear;
  left: 85%;
}

.trash-container-4 {
  width: 20em;
  height: 20em;
  position: absolute;
  z-index: -1;
  background: url('./bottle.gif') no-repeat;
  animation: fall 2s infinite linear;
  left: 10%;
}

.trash-container-5 {
  width: 20em;
  height: 20em;
  position: absolute;
  z-index: -1;
  background: url('./bottle.gif') no-repeat;
  animation: fall 10s infinite linear;
  left: 33%;
}

.trash-container-6 {
  width: 20em;
  height: 20em;
  position: absolute;
  z-index: -1;
  background: url('./bottle.gif') no-repeat;
  animation: fall 9s infinite linear;
  left: 45%;
}

.trash-container-7 {
  width: 20em;
  height: 20em;
  position: absolute;
  z-index: -1;
  background: url('./bottle.gif') no-repeat;
  animation: fall 6s infinite linear;
  left: 60%;
}


@-webkit-keyframes fall {
  0% {
    top:-10%
  }
  100% {
    top:90%
  }
}

canvas:hover {
  cursor: pointer;
}

.score-container {
  display: flex;
  flex-direction: row;
}

.score {
  padding: 1rem;
  margin: 1rem;
  background: #BAFF29;
}

.score-label {
  text-transform: uppercase;
  color: #E59F71;
  font-style: italic;
}

