body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: #D8DBE2;
}

.panel {
  font-family: monaco, Consolas, "Lucida Console", monospace;
  color: #6F7C12;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.ugly-border {
  border: 2rem solid #E59F71;
}

.inner {
  margin: 3rem 10%;
  width: 50%;
  height: 50%;
}

.fake-button {
  background: #BAFF29;
  text-transform: uppercase;
  font-size: 2rem;
  text-align: center;
  padding: 2rem;
  margin: 3rem;
  cursor: url('./bag-cursor.gif'), auto;	
}

.heading {
  font-weight: 600;
  font-size: 3em;
  padding: 2rem;
  margin: .5rem;
}

.text-box {
  margin: 30em;
}

canvas {
  background-image: url('/world-map.png');
  background-size: 100% 100%;
}

.text-container {
  padding: 5em;
  text-align: center;
}
